img{
    max-width:50%;
    max-height:30%;
}
.row{
    background-color:#742baf !important;
    color:white;

}

.card{
    border:0px;
    text-align:center;
    
}
.card-body{
    background: #742baf !important;
}

.card-title{
    text-align: center;
}
.card-text{
    text-align:center;
}