<div class="row">
    <div class="col-sm-6 mx-auto" >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Demo Blog Development</h5>
          <h5 class="card-title">Front End By Diana Sánchez</h5>
          <a href="http://desarmaq.cl/curriculum/" class="btn btn-primary">See Diana's CV</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special Test For</h5>
          <img [src]="postedin" alt="">
        </div>
      </div>
    </div>
  </div>