

.bg-light{
    background-color:#742baf !important;
    text-align:center !important;
    color: white !important;
}

.navbar-brand{
    color:white !important;
    margin-left:15%;

}
.nav-item li{
    color:white;

}
.navbar-light .navbar-nav .nav-link{
    color:white;

}

@media  only screen and(max-width:300px){
    
.bg-light{
    background-color:#742baf !important;
    text-align:center !important;
    color: white !important;
    font-size:10px;
}

.navbar-brand{
    color:white;
    font-size:10px !important;

}
.nav-item li{
    color:white;
    font-size:10px !important;


}
.navbar-light .navbar-nav .nav-link{
    color:white;
    font-size:10px !important;


}
}