<div class="row">
  <div class="col-lg-12"><app-header></app-header></div>
  <div class="col-lg-1"></div>
  <div class="col-lg-10"><app-allposts></app-allposts></div>
  <div class="col-lg-1"></div>
</div>
<app-footer></app-footer>

<router-outlet></router-outlet>
