img{
    width:10% !important;
    height: 10% !important;
    border:1px;
    border-color:red;
}

span{
    margin-left:50%;
}

.post-title-img {
    width:100% !important;
    height:100%  !important;
}


.fr-fic fr-dii{
    max-width:10%;
    max-height: 10%;
}

mat-card {
    width:100%;
    padding-top:5%;
    padding-bottom:5%;
    padding-right:5%;
}

mat-card-subtitle{
    margin-left:10%;
    margin-right: 10%;
    margin-top:5%;
}
.green-progress .mat-progress-bar-fill::after {
    background-color: green !important;
}

.example-section{
    color:red !important
}
.progress{
    max-width:80%;
    margin-left:10%;
}

.mat-card-content{
    margin-left:10%;
    margin-right: 10%;
    margin-top:5%;
}

.mat-card-title{
    font-weight: bold;
}
.mat-card-subtitle{
    color:white;
}

.mat-flat-button {
    margin:10px;
}

fa-icon{
    margin:5px;
}

.social-media{
    margin-left:53%;
    margin-top:5%;
}
.new{
    background:rgb(231, 48, 207);
    color:white;
    font-weight: bold;
}

.divpost{
    margin-top:5%;
}

.content{
    margin-top:20px;
}
.mat-card-title{
    margin-left:20%;
    font-size:18px;
}