<div class="col-lg-12"><h4 style="text-align:center; color:rgb(9, 193, 199); margin-top:5%">All Posts</h4></div>
<div *ngFor="let post of posts; let idx = index" class="divpost">
  <div class="animation">
    <mat-card class="example-card">
      <mat-card-header>
        <div class="post">
          <div class="post-header">
            <div id="top"></div>

            <mat-card-title>{{post.title.rendered}} </mat-card-title>
          </div>
          <mat-card-subtitle>
            <div class="row">
            <div class="col-lg-3"><img class="post-title-img" [src]="postimg" alt=""></div>
            <div class="col-lg-8 content" [innerHTML]="post.excerpt.rendered | keepHtml"></div></div>
            <span class="row">
            <button mat-flat-button class="new" (click)="verifyId(post.id,idx);" [disabled]="cargando">
              <fa-icon [icon]="faPlus"></fa-icon>Ver Mas
            </button>
            <button mat-flat-button color="primary" (click)="shareMedia()">
              <fa-icon [icon]="faShare" ></fa-icon>Compartir
            </button></span>
            <div class="row social-media" *ngIf="share">
                <fb-like url="http://desarmaq.cl/postedin/"></fb-like>
                <tweet url="http://desarmaq.cl/postedin/" text="Diana Demo's Blog"></tweet>
                <linkedin-share url="http://desarmaq.cl/postedin/"></linkedin-share>

            </div>
          </mat-card-subtitle>
        </div>

      </mat-card-header>
      <div *ngIf="mostrar==post.id">
        <br>
        <br>
        <div *ngIf="cargando">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>


      </div>
      <div [hidden]="mostrar!==post.id ||content!==true">

        <mat-card-content id="#target">
          <div [innerHTML]="post.content.rendered | keepHtml"></div>
          <br>
       
        </mat-card-content>
        <br>
        <br>
      </div>
    </mat-card>
  </div> <br><br>
</div>