@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    font-family: raleway,helvetica,arial,sans-serif;

}

h2{
    font-size:25px;
    animation:  blinker 1s linear 2;
    max-width:70% ;
}

    @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
p {
    padding-left:10px;
    max-width:70%;
    max-height: 140%;
    text-align: justify;
    
    }




p > img{
    float: left !important;
    max-width:100%;
    overflow: hidden;
    height:100px;
    border-radius: 100px;
    margin-right:10px;
    animation:  blinker 1s linear 3}

.animation{
    animation-duration: 1s;
    animation-name: slidein;}

    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
          $delay: 10;
          @if $delay =10
           { 
               animation-delay: 1;
           }
         
        }

    
      }   
    
  
    



      
.post-header{
    color:white;
    margin-top:10px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
  
    
    
}
.post{
    background: #19edf5e8;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: rgba(60, 38, 255, 0.29) 5px 6px 7px 8px;
    color: #094179;
    color: white;
}


.element{
    shape-outside: circle(30%);
    transition: shape-outside 1s;
    float: left;
  }
  
  .element:hover{
    shape-outside: circle(50%);
  }
  .green-progress .mat-progress-bar-buffer::after {
    background-color: green !important;
}


@media  only screen and(max-width:400px){
    
    .bg-light{
        background-color:#742baf !important;
        text-align:center !important;
        color: white !important;
        font-size:10px;
    }
    
    .navbar-brand{
        color:white;
        font-size:10px !important;
    
    }
    .nav-item li{
        color:white;
        font-size:10px !important;
    
    
    }
    .navbar-light .navbar-nav .nav-link{
        color:white;
        font-size:10px !important;
    
    
    }
    }